html {
  background-color: hsl(234, 29%, 20%);
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 500;
  box-sizing: border-box;
  font-size: 16px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

#root {
  background-color: hsla(0, 0%, 100%, 0.993);
  height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column-reverse;

}

.right {
      align-self: center;
  height: 40%;
 
}
.left {
  height: 60%;
  padding: 30px;
}
.left h1 {
  color: hsl(235, 29%, 16%);
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px;
}
#detail {
  margin-bottom: 20px;
  color: hsl(235, 29%, 16%);
  font-size: 1rem;
}
ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.list-item {
  margin-bottom: 15px;
}
.right img {
  color: hsl(235, 29%, 16%);
 max-width: 100%;
 
}

.email {
  width: 100%;
  min-height: 50px;

  border-radius: 7px;
  margin-bottom: 20px;
  border-color: hsla(235, 29%, 16%, 0.568);
  border-width: 1px;
  opacity: 70%;
}
button {
  width: 100%;
  border: none;
  background-color:  hsl(235, 29%, 16%);;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  min-height: 50px;
  opacity: 98%;
  border-radius: 7px;
  margin-bottom: 10px;
}

::placeholder {
  padding: 15px;
  font-size: 1rem;
}
@media (min-width: 500px) {
  #root {
    border: 3px solid red;
    background-color: rgba(255, 255, 255, 0.979);
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
  }
  .left {
    border: 3px solid blue;
    width: 60%;
    padding: 20px;
    height: auto;
  }
  .right {
    padding: 20px;
    border: 3px solid yellow;
    width: 40%;
    height: auto;
  }
}
